@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .customcontainer {
    @apply sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1200px] /*2xl:max-w-[1436px];*/;
  }
}

.arrow::after {
  content: "";
  border: solid #0c0d36;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
  margin-bottom: 2px;
}

.arrowgreen::after {
  content: "";
  border: solid #4db680;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
  margin-bottom: 2px;
}

.arrowreverse::after {
  transform: rotate(225deg);
  margin-bottom: -4px;
}

/* table - transaction */
.transactiontbody tr:first-child td:first-child {
  border-top-left-radius: 8px;
}
.transactiontbody tr:first-child td:last-child {
  border-top-right-radius: 8px;
}
.transactiontbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.transactiontbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
/* END table - transaction */

.grid-desc {
  grid-area: desc;
}
.grid-btn {
  grid-area: button;
}

.wrap--navulasan {
  display: grid;
  grid-template-columns: 0.7fr 1.2fr;
  grid-template-areas:
    "rating descrating"
    "dgnfoto type";
}

.grid-rating {
  grid-area: rating;
}
.grid-descrating {
  grid-area: descrating;
}
.grid-dgnfoto {
  grid-area: dgnfoto;
}
.grid-type {
  grid-area: type;
}
@media (min-width: 640px) {
  .wrap--navulasan {
    display: grid;
    grid-template-columns: 0.6fr 1.2fr 0.8fr 1fr;
    grid-template-areas: "rating descrating dgnfoto type";
  }
}

@media (min-width: 1024px) {
  .wrap--navulasan {
    display: grid;
    grid-template-columns: 0.4fr 0.8fr 0.5fr 1fr;
    grid-template-areas: "rating descrating dgnfoto type";
  }
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.mauafter::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 100%;
  height: 0.1em;
  background-color: #4db680;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.othermauafter::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 0px;
  width: 100%;
  height: 0.1em;
  background-color: #4db680;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.underline1::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 0px;
  width: 100%;
  height: 0.1em;
  background-color: #4db680;
}

.underline5::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 30px;
  width: 100%;
  height: 0.1em;
  background-color: #4db680;
}

.underline6::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 100%;
  height: 0.1em;
  background-color: #4db680;
}

.underline7::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 5px;
  width: 100%;
  height: 0.1em;
  background-color: #4db680;
}

.underline8::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 10px;
  width: 100%;
  height: 0.1em;
  background-color: #4db680;
}

.underline2::after {
  top: 25px;
  right: 3px;
}
.underline3::after {
  top: 25px;
  right: 0px;
}

.underline4::after {
  top: 25px;
  right: 35px;
}

.mauafter:hover::after,
.mauafter:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* CSS Ari */
* {
  font-family: "Poppins", sans-serif;
}

input.input-group-p-left {
  padding-left: 24%;
}
input.input-group-p-right {
  padding-right: 24%;
}

/* Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="radio"]:checked {
  accent-color: #29a867;
}
select {
  line-height: 1em;
  font-size: 14px;
}
